@import url("global.css");

@import url("div.css");

@import url("font.css");

@import url("form.css");

@import url("table.css");

@import url("table-width.css");

@import url("button.css");

.actionsColumn {
	xwidth: 180px;
	width: 15% !important;
}