/* For all types of Buttons */
.button, .normalButton, .submitButton, .createButton, .editButton,
	.deleteButton, .copyButton {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #808080;
	display: inline-block;
	cursor: pointer;
	Xfont-size: 13px;
	line-height: 21px;
	padding: 2px 2px;
	margin: 5px;
	text-decoration: none;
	min-width: 60px;
	text-align: center;
	text-decoration: none;
}

.submitButton, .createButton, .editButton, .deleteButton, .copyButton {
	color: #ffffff !important;
	xbackground-color: #f66a26; /* Orange */
	background-color: #007dc1; /* Blue */
}

.smallButton {
	min-width: 40px !important;
	padding: 1px !important;
	margin: 1px !important;
	font-size: 0.9em !important;
}

.submitButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
	box-shadow: inset 0px 1px 0px 0px #54a3f7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1
		), color-stop(1, #0061a7));
	background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1',
		endColorstr='#0061a7', GradientType=0);
	background-color: #007dc1;
	color: #ffffff !important;
	text-shadow: 0px 1px 0px #154682;
}

.normalButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #d8d8d8));
	background: -moz-linear-gradient(top, #ededed 5%, #d8d8d8 100%);
	background: -webkit-linear-gradient(top, #ededed 5%, #d8d8d8 100%);
	background: -o-linear-gradient(top, #ededed 5%, #d8d8d8 100%);
	background: -ms-linear-gradient(top, #ededed 5%, #d8d8d8 100%);
	background: linear-gradient(to bottom, #ededed 5%, #d8d8d8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#d8d8d8', GradientType=0);
	background-color: #ededed;
	color: #5b5b5b !important;
	text-shadow: 0px 1px 0px #d1d1d1;
}

.deleteButton {
	xbackground-image: url('../../images/button/delete.png');
}

a.disabled {
	X-moz-box-shadow: inset 0px 1px 0px 0px #fb842d;
	X-webkit-box-shadow: inset 0px 1px 0px 0px #fb842d;
	Xbox-shadow: inset 0px 1px 0px 0px #fb842d;
	-moz-box-shadow: inset 0px 1px 0px 0px #ededed !important;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ededed !important;
	box-shadow: inset 0px 1px 0px 0px #ededed !important;
	color: #acacac !important;
	text-shadow: 0px 1px 0px #fff !important;
	border: 1px solid #b4b4b4 !important;
	cursor: default !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #d8d8d8)) !important;
	background: -moz-linear-gradient(top, #ededed 5%, #d8d8d8 100%)
		!important;
	background: -webkit-linear-gradient(top, #ededed 5%, #d8d8d8 100%)
		!important;
	background: -o-linear-gradient(top, #ededed 5%, #d8d8d8 100%) !important;
	background: -ms-linear-gradient(top, #ededed 5%, #d8d8d8 100%)
		!important;
	background: linear-gradient(to bottom, #ededed 5%, #d8d8d8 100%)
		!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#d8d8d8', GradientType=0) !important;
	background-color: #ededed !important;
}

.leftButtonGroup {
	float: left;
}

.rightButtonGroup {
	float: right;
}

.leftButtonGroup a, .rightButtonGroup a {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.leftButtonGroup a {
	float: left;
	margin-left: 0px !important;
	margin-right: 5px !important;
}

.rightButtonGroup a {
	float: right;
	margin-right: 0px !important;
	margin-left: 5px !important;
}