.scroll {
	width: 100%;
	height: 100%;
	max-height: 200px;
	overflow: auto
}

div.noData {
	color: #00529B;
	background-color: #BDE5F8;
	border: 1px solid;
	text-align: center;
	font-size: 1.3em;
}

.ajaxZone {
	xborder: 2px solid green; /*For test Ajax*/
}

.ajaxZone-update {
	background-color: yellow;
}