/*
body * {
	font-size: 15px;
}
*/

/* Element - Begin */
/* Links - Begin */
a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: blue;
}

a:hover {
	color: red;
}

a:active {
	color: aqua;
}
/* Links - End */

/* Input and textarea tags - Begin */
textarea,input[type="text"],input[type="password"] {
	min-width: 220px;
	outline: lightgray thin solid;
}

input[type="button"],input[type="submit"],input[type="reset"] {
	min-width: 70px
}

input[type="button"].small,input[type="submit"].small,input[type="reset"].small
	{
	min-width: 40px
}

select {
	min-width: 120px
}

select.small {
	min-width: 70px
}
/* Input and textarea tags - End */
h1,h2,h3,h4,h5 {
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
}
/* Element - End */

/* Others - Begin */
.hidden {
	display: none;
}

.required {
	color: red !important;
}

.Xrequired:before {
	content: "*" !important;
	padding-right: 4px !important;
}

.required:after {
	content: "*" !important;
	padding-left: 4px !important;
}

.requiredLegend {
	font-weight: bold !important;
	font-style: italic !important;
	Xfont-size: 14 !important;
}

.requiredLegend:before {
	content: "*" !important;
	color: red !important;
	padding-right: 4px !important;
}

.requiredLegend:after {
	content: "is required" !important;
}

.full-width {
	width: 100%
}

.border {
	border: 1px solid black;
}

.successBox,.infoBox,.warningBox,.errorBox {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.successBox {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../images/common/success.png');
}

.infoBox {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../images/common/info.png');
}

.warningBox {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../images/common/warning.png');
}

.errorBox {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../images/common/error.png');
}

.error {
	color: red;
}

input.error,textarea.error {
	border: 1px dotted red;
}

label.error {
	background: url("../../images/common/unchecked.gif") no-repeat scroll 0
		0 rgba(0, 0, 0, 0);
	padding-left: 17px;
	margin-left: 10px;
}

.warning {
	color: #9F6000;
}

.info {
	color: #00529B;
}

.success {
	color: #4F8A10;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

clearLeft {
	clear: left;
}

clearRight {
	clear: right;
}

.clearBoth {
	clear: both;
}

.disabled {
	background-color: #eee;
	cursor: not-allowed;
}

.loading {
	background: url('../../images/common/loading.gif') no-repeat center;
	min-height: 50px;
}

ul {
	margin: 0px;
	padding-left: 15px
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}
/* Others - End */

/* For test/debug - Begin */
.debugClass {
	border: 3px solid red !important;
	color: blue !important;
	background-color: blue !important;
}
/* For test/debug - End */