.errorMessage {
	color: red;
	font-style: italic !important;
}

.errorLabel {
	color: AA0000;
	font-weight: bold !important;
}

.tdLabel {
	font-weight: bold !important;
	background-color: lightblue !important;
	border-color: lightblue !important;
}

table.wwFormTable {
	width: initial !important;
}

table.wwFormTable td {
	Xpadding-left: 0 !important;
}

table.wwFormTable td.tdLabel {
	min-width: 180px !important;
}

label.checkboxLabel {
	font-weight: bold !important;
	display: inline-block !important;
	max-width: 200px !important;
}

.required {
	padding-left: 4px !important;
}

.required:after {
	content: "" !important;
	padding-left: 0px !important;
}